# /etc/systemd/system/netrender-slave.service

[Unit]
Description=Blender netrender slave manager
Documentation=https://unix.stackexchange.com/a/408848/5132

[Service]
Type=simple
WorkingDirectory=/opt/netrender-startup
#Environment=FLAGS=slaveGPU.blend --addons netrender -a -noaudio -nojoystick
ExecStart=/usr/bin/blender -b slaveGPU.blend --addons netrender -a -noaudio -nojoystick

[Install]
WantedBy=multi-user.target
